* {
  font-family: Roboto;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.searchButton {
  border: none;
  padding: 8px 15px 8px 15px;
  background: #ff8500;
  color: #fff;
  box-shadow: 1px 1px 4px #dadada;
  -moz-box-shadow: 1px 1px 4px #dadada;
  -webkit-box-shadow: 1px 1px 4px #dadada;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  outline: none;
}

.searchButton:hover {
  background: #ea7b00;
  color: #fff;
}

.searchBox {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.results {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

body {
  background: #d3cce3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e9e4f0,
    #d3cce3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e9e4f0,
    #d3cce3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 0;
  margin: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
}
input {
  width: 50%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #c2c2c2;
  box-shadow: 1px 1px 4px #ebebeb;
  -moz-box-shadow: 1px 1px 4px #ebebeb;
  -webkit-box-shadow: 1px 1px 4px #ebebeb;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 7px;
  outline: none;
}
h1,
h2 {
  text-align: center;
  font-weight: 500;
}

div {
  display: inline-block;
}

.searchResults {
  width: 50%;
  max-height: calc(100vh - 150px);
  overflow: scroll;
}

.imageSearchResults {
  width: 50%;
  max-height: calc(100vh - 150px);
  overflow: scroll;
  margin: 0 auto;
  text-align: center;
}

img {
  width: 80%;
  object-fit: cover;
  margin-top: 2%;
}

@media (max-width: 678px) {
  .results {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    flex-direction: column;
    align-items: center;
  }

  .searchResults {
    width: 50%;
    margin-top: 2%;
  }

  .imageSearchResults {
    width: 50%;
    margin-top: 2%;
  }

  img {
    width: 100%;
    object-fit: cover;

  }
}
